<nav class="navbar navbar-default">
    <p class="navbar-text navbar-center">Speedy Cart</p>
    <p class="navbar-btn navbar-right"><a class="btn btn-info btn-md" href="/#/" role="button">Home Page</a></p>
</nav>
<div class="row">
  <h2>Cart Totoal ${{total}}<h2>
  <h4>Items In Cart</h4>
  <div class="col-md-12">
    <div ng-repeat="listing in listings" class="">
      <img src="{{listing.MainImage.url_75x75}}"alt=""/>
      <p>
        price: {{ listing.price }}
      </p>
      <p>
        title: {{ listing.title }}
      </p>
      <p><a class="btn btn-warning btn-md" href="/#/details/{{listing.listing_id}}" role="button">View Item</a></p>
      <p><a class="btn btn-danger btn-md" ng-click="deleteItem(listing)" role="button">Delete Me</a></p>
    </div>
  </div>
</div>

  <div class="row footer">
    <div class="col-xs-12">
      <footer>
        <p>&copy; Copyright 2016 Finger</p>
      </footer>
    </div>
  </div>
